<aside id="sidebar" class="sidebar">
    <div class="logo-area">
        <a href="@Url.Action("Index", "Dashboard")" class="d-inline-flex">
            <img src="data:image/svg+xml,%3csvg%20width='62'%20height='67'%20viewBox='0%200%2062%2067'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M30.604%2066.378L0.00805664%2048.1582V35.7825L30.604%2054.0023V66.378Z'%20fill='%23302C4D'/%3e%3cpath%20d='M61.1996%2048.1582L30.604%2066.378V54.0023L61.1996%2035.7825V48.1582Z'%20fill='%23E66239'/%3e%3cpath%20d='M30.5955%200L0%2018.2198V30.5955L30.5955%2012.3757V0Z'%20fill='%23657E92'/%3e%3cpath%20d='M61.191%2018.2198L30.5955%200V12.3757L61.191%2030.5955V18.2198Z'%20fill='%23A3B2BE'/%3e%3cpath%20d='M30.604%2048.8457L0.00805664%2030.6259V18.2498L30.604%2036.47V48.8457Z'%20fill='%23302C4D'/%3e%3cpath%20d='M61.1996%2030.6259L30.604%2048.8457V36.47L61.1996%2018.2498V30.6259Z'%20fill='%23E66239'/%3e%3c/svg%3e" alt="" width="24">
            <span class="logo-text ms-2"> <img src="/inapp-1.0.0/src/assets/images/logo.svg" alt=""></span>
        </a>
    </div>
    <ul class="nav flex-column">
        <li>
            <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                <i class="ti ti-home"></i><span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("Index", "Todo")">
                <i class="ti ti-checklist"></i><span class="nav-text">Yapılacaklar</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("Index", "Category")">
                <i class="ti ti-category"></i><span class="nav-text">Kategoriler</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("Index", "Product")">
                <i class="ti ti-package"></i><span class="nav-text">Ürünler</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("Index", "Customer")">
                <i class="ti ti-users"></i><span class="nav-text">Müşteriler</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("Index", "Order")">
                <i class="ti ti-shopping-cart"></i><span class="nav-text">Siparişler</span>
            </a>
        </li>
        <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-chart-bar"></i><span class="nav-text">İstatistik</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="@Url.Action("CustomerStatistics", "Statistics")">Müşteri</a></li>
                <li><a class="dropdown-item" href="@Url.Action("OrderStatistics", "Statistics")">Sipariş</a></li>
                <li><a class="dropdown-item" href="@Url.Action("ProductStatistics", "Statistics")">Ürün</a></li>
            </ul>
        </li>
    </ul>

</aside>
